.footer  {
    position: sticky;
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
    /* background-color:rgb(37, 37, 37) ; */
    background-color: whitesmoke;
    
}

.footer ul {
    margin:auto;
    display: inline-flex;
    list-style: none;
    justify-content: center;
    padding: 5px;
}

.footer p {
    
    font-family: roboto;
    margin:auto;
}

.footer li {
    padding-left: 20px;
}

.footer li img:hover {
    background-color: rgb(248, 98, 123);
    border-radius: 50%;
    border: none;
}